{% extends 'store/_Master.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
<!-- Login Start -->
<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <form method="POST">
                {% csrf_token %}
                    <div class="register-form">
                        <div class="row">
                            <div class="col-md-12">
                                {{result|safe}}
                            </div>
                            <div class="col-md-6">
                                <label>{{form.first_name.label}}</label>
                                {{form.first_name}}
                            </div>
                            <div class="col-md-6">
                                <label>{{form.last_name.label}}</label>
                                {{form.last_name}}
                            </div>
                            <div class="col-md-12">
                                <label>{{form.email.label}}</label>
                                {{form.email}}
                            </div>
                            <div class="col-md-6">
                                <label>{{form.password.label}}</label>
                                {{form.password}}
                            </div>
                            <div class="col-md-6">
                                <label>{{form.confirm_password.label}}</label>
                                {{form.confirm_password}}
                            </div>
                            <div class="col-md-12">
                                <label>{{form.phone.label}}</label>
                                {{form.phone}}
                            </div>
                            <div class="col-md-4">
                                <label>{{form.province.label}}</label>
                                {{form.province}}
                            </div>
                            <div class="col-md-4">
                                <label>{{form.district.label}}</label>
                                {{form.district}}
                            </div>
                            <div class="col-md-4">
                                <label>{{form.ward.label}}</label>
                                {{form.ward}}
                            </div>
                            <div class="col-md-12">
                                <label>{{form.address.label}}</label>
                                {{form.address}}
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn" name="btnRegister" value="register">Sign Up</button>
                            </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="col-lg-6">
                <form method="POST">
                {% csrf_token %}
                <div class="login-form">
                    <div class="row">
                        <div class="col-md-12">
                            {{login_result|safe}}
                        </div>
                        <div class="col-md-6">
                            <label>E-mail / Username</label>
                            <input class="form-control" type="text" placeholder="E-mail / Username" name="email">
                        </div>
                        <div class="col-md-6">
                            <label>Password</label>
                            <input class="form-control" type="password" placeholder="Password" name="password">
                        </div>
                        {% comment %} <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newaccount">
                                <label class="custom-control-label" for="newaccount">Keep me signed in</label>
                            </div>
                        </div> {% endcomment %}
                        <div class="col-md-12">
                            <button class="btn" type="submit" name="btnlogin" value="login">Sign In</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Provinces
        var province_arr = new Array{{ provinces|safe }};
        $('#id_province').append($('<option>', {
                value: '0',
                text: 'Chọn Tỉnh/TP',
            }, '</option>'));
        $.each(province_arr, function (i, item) {
            $('#id_province').append($('<option>', {
                value: item,
                text: item,
            }, '</option>'));
        });
    });

    // District
    var districts = new Array{{ str_districts|safe }};
    var d_a = new Array();
    d_a[0] = 'Chọn Quận/Huyện';
    {% for province in provinces %}
        d_a['{{ province }}'] = districts[{{ forloop.counter0 }}];
    {% endfor %}

    // Ward
    var wards = new Array{{ str_wards|safe }};
    var w_a = new Array();
    {{ data_str_wards|safe }}
    {% for district in list_districts %}
        w_a['{{ district }}'] = wards[{{ forloop.counter0 }}];
    {% endfor %}

    $('#id_province').change(function () {
        var c = $(this).val();
        var district_arr = d_a[c].split("|");
        $('#id_district').empty();
        $('#id_ward').empty();
        if (c == '0') {
            $('#id_district').append($('<option>', {
                value: '0',
                text: 'Chọn Quận/Huyện',
            }, '</option>'));
        } else {
            $('#id_district').append($('<option>', {
                value: '0',
                text: 'Chọn Quận/Huyện',
            }, '</option>'));
            $.each(district_arr, function (i, item_district) {
                $('#id_district').append($('<option>', {
                    value: item_district,
                    text: item_district,
                }, '</option>'));
            });
        }
        $('#id_ward').append($('<option>', {
            value: '0',
            text: 'Chọn Phường/Xã',
        }, '</option>'));
    });

    $('#id_district').change(function(){
        var s = $(this).val();
        if(s == '0'){
            $('#id_ward').empty();
            $('#id_ward').append($('<option>', {
                value: '0',
                text: 'Chọn Phường/Xã',
            }, '</option>'));
        }
        var ward_arr = w_a[s].split("|");
        $('#id_ward').empty();
        $('#id_ward').append($('<option>', {
                value: '0',
                text: 'Chọn Phường/Xã',
            }, '</option>'));
        $.each(ward_arr, function (j, item_ward) {
            $('#id_ward').append($('<option>', {
                value: item_ward,
                text: item_ward,
            }, '</option>'));
        });
    });
</script>
{% endblock content %}